@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-fonts {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding:0;
    box-sizing: border-box;

  }

  /* shared styles of kids school */

  :root{
    --orange: #FEA301;
    --skyblue: #01ACFD;
    --skyblue-light:#05D4DF;
    --favorite-color: #5D58EF;
    --bg-color: #F7F7F7;
    --primary-btn-color: #ffffff;
    --black-color:#111111;
    --card-description-color:#808080;
    --footer-color:#01ACFD;


  }

  /* .bg-light-color{
    background-color: var(--bg-color);
  } */

  .display-flex{
    display: flex;

  }

  .navlink-color1{
    font-weight: 700;
    color: var(--orange);
  }


  .navlink-color2{
    font-weight: 500;
    color: var(--skyblue);
  }

  .navlink-color3{
    font-weight: 500;
    color: var(--skyblue-light);
  }

  .navlink-color4{
    font-weight: 500;
    color: var(--favorite-color);
  }

  .navbar-btn{
    padding: 10px 60px;
    border: none;
    background-color: var(--orange);
    border-radius: 12px;
    color: var(--primary-btn-color);
    font-size: 20px;
    font-weight: 600;
  }

   .primary-btn{
    background-color: var(--black-color);
    padding: 10px 47px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-btn-color);
    border: none;

  } 

  /* .single-story{
    position: relative;

  } */

  .single-story-btn{
    padding: 10px 18px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 46px;
    background-color: #95B226;
    color: #ffffff;
    border: none;
    position: absolute;
    top: 150px;
    left: 37px; 

  }


  .single-small-story-btn{
    background-color: #5D58F0;
  }
 






  /* navbar related styles */

  .navbar{
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
   
  .kids-logo{
    justify-content: space-between;
    align-items: center;
    width: 202px;
    height: 62px;
  }

  .kids-logo-title{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 18px;
  }


  .navlink-item{
    list-style: none;
    margin-right: 32px;

  }

  .navlink-name{
    text-decoration: none;
    font-size: 1.25rem;
  }

  .bar-icon{
    display: none;
  }

  hr{
    display: none;
  }


  /* banner related style code start here */


   .banner{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-container{

    margin-bottom: 70px;
    width: 40rem;
    height: 20.57rem;
    
  }

  .banner-title{
    font-weight: 700;
    font-size: 56px;
  }

  .banner{
    color:var(--orange);
  }


  .banner-title-color2{
    color:var(--black-color);
  }


  .banner-title-color3{
    color:var(--skyblue);
  }


  .banner-description{
    margin: 24px 0;
    font-size: 1.25rem;
    color: var(--black-color);
  }

  .banner-img-container{
    width: 29.26rem;
    height: 35.93rem;
  }

  /* standard curriculam style code start here */

  /* main > section{
    background-color: var(--bg-color);
  } */
  .card-section-parent{
    background-image: url(../assets/bg.png);
  }

  .card-title{
    text-align: center;
    margin: 60px 0 80px 0;
    font-size: 46px;
    font-weight: 700;
    color: var(--black-color);

  }


  .card-container{
    max-width: 1160px;
    margin: 0 auto;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;




  }

  .single-card{
    text-align: center;
    
    padding: 35px 15px;
    box-shadow: 1px 1px 5px gray;
    
    border-radius: 20px;

  }

  .single-card-gradient1{
    background: linear-gradient( #def5ff, #ffffff, #ffffff, #ffffff);
  }

  .single-card-gradient2{
    background: linear-gradient(#FFF4DC, #ffffff, #ffffff);
  }



  .single-card-gradient3{
    background: linear-gradient(#F2E8FF,#ffffff,#ffffff);
  }

  .single-card-img{
    width: 136px;
    height: 136px;
    /* margin: 52px 115px 32px 115px; */

  }

  .card-name{
    font-size: 24px;
    font-weight: 700;

  }

  .card-description{
    font-size: 15px;
    font-weight: 500;
    color: var(--card-description-color);
    margin: 30px 0 35px 0;

  }

  .card-button{
    color: #64C8FF;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background: none;


  }

  .card-button2{
    color: #F0AA00;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background: none;


  }

  .card-button3{
    color: #8700FF;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background: none;


  }


  /* .first-parent{
    text-align: center;
    border: 1px solid red;
    margin: 0 auto;
  } */

  .icon-parent{
    width: 130px;
    height:130px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
  
  }

  .icon-parent div{
    color: #ffffff;
    width: 60px;
    height: 60Px;
    background-color: var(--orange);
    border-radius: 50%;
    font-size: 45px;
    text-align: center;

  }

  /* our stories container section code start here  */

  /* .our-stories-container{
    display: grid;
    grid-template-columns: 400px 200px 200px;

  } */

  .our-stories-container-parent{
    background-image: url(../assets/bg.png);
  }

  .our-stories-title{
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin: 60px 0 80px 0;
  }

  .bigger-story-container{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .big-story-img-parent{
    width: 540px;
    height: 625px;

  }

  .single-story1{
    box-shadow: 1px 1px 5px gray;
    border-radius: 16px;
    position: relative;
  }

  .text-container-of-stories{
    padding: 0 68px 34px 38px;
  }

  .our-stories-pic-title1{
    font-size: 24px;
    font-weight: 700;
    margin: 60px 0 50px 0;

  }

  .our-stories-description{
    font-size: 15px;
    font-weight: 500;
    color: #666666;
  }

  .single-story1-btn{
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 46px;
    background-color: #3CD8E8;
    color: #ffffff;
    border: none;
    position: absolute;
    top: 317px;
    left: 38px;
  }


  .our-stories-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
  }
  .single-story{

    box-shadow: 1px 1px 5px gray;
    border-radius: 16px;
    position: relative;

  }

  .single-story-duplicate{
    display: none;
  }

  .our-stories-pic-title{
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    margin: 33px 50px 33px 37px;
  }

   .single-story-img1{
    width: 540px;
    height: 340px;
    border-radius: 16px 16px 0 0 ;

  }


  .single-story-img{
    width: 291px;
    height: 170px;
    border-radius:16px 16px 0 0;
  }

  .view-story-btn{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 8px;
    background-color: var(--black-color);
    color: #ffffff;
    margin: 60px auto;
    display: block;
   
  }



  /* footer section code is here for style*/

  .footer-class{
    background-color:var(--footer-color);

  }


  .footers-container{
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #ffffff;
    padding-bottom: 65px;
/* 
    margin: 140px 123px 228px 175px; */
    
  
  }

  .single-footer1{
    margin-top: 30px;
  }


.single-footer-img{
  width: 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-footer-img img{
  width: 82px;
  height: 82px;
  
}

.footer-headline{
  width: 206px;
  height: 82px;
  font-size: 35px;
  font-weight: 700px;

}

.footer-description{
  width: 399px;
  font-size: 20px;

}

.about-shool{
  font-size: 25px;
}

.keep-in{
  font-size: 25px;
}

.single-footer2 p a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

.last-single-footer{
  margin-top: -100px;
}


/* responsive code start here for navbar */

@media screen and (max-width: 576px) {

    .navbar{
        width: 100%;
        
    }

    .logo-img{
        width: 50px;
        height: 50px;
        margin: 12px 20px;
    }


      .kids-logo-title, .navlinks-items, .navbar-btn{
        display: none;

    }

    .bar-icon{
        display: block;
        margin-right: 1rem;
        margin: 20px 20px;
       
    }

    .bar-icon img{
        width: 30px;
        height: 30px;
    }

    hr{
      display: block;
      border: 1px solid aqua;
    }

    /* banner related responsive code */
    .banner{
      width: 100%;
      flex-direction: column-reverse;
  
    }
    
      .banner-container{
      width: 92%;
      text-align: center;
      height: auto;
      
    }

    .banner-title{
      font-size: 32px;
      font-weight: 700;
    
    }

    .banner-description{
      font-size: 14px;
      font-weight: 600;
      color: var(--black-color);
      margin: 18px 0px;
    }

    .primary-btn{
      padding: 6px 24px;
    }
    
    
    .banner-img-container{
      width: 92%;
      text-align: center;
      height: auto;

     
    } 
    .banner-img-container img{
      width: 92%;
      height: auto;
  
    }

    /* card section related responsive code */


    .card-title{
      margin: 30px auto;
    }

    .card-container{
      flex-direction: column;
    }

    .single-card{
      margin: 3px 25px;
    }

    .icon-parent{
      display: none;
    }

    /* our stories related responsive code start here */
    .our-stories-title{
      font-size: 30px;
    }

   .our-stories-container{ 
    width: 100%;
    margin: 0 20px;
    gap: 15px;
  

    }

    .our-stories-pic-title{
      font-size: 9px;
    }
   .big-story-img-parent{
    display: none;
   }

   .single-story-duplicate{
      display: block;
    }

  } 




































